
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: var(--fuente-poppins);
}
:root {
    --color-fondo-temporal:rgb(213, 222, 231);
    --color-fondo-nav: #201f1f;
    --color-verde-section: #cbd9c2;
    --color-titulo: #003366;
    --fuente-poppins: "Poppins", sans-serif;
}
html{
    font-family: var(--fuente-poppins);
    background-color: var(--color-fondo-temporal);
}
.titulos{
font-weight: 700;
color: var(--color-titulo);
}
body{
font-family: sans-serif;
font-size: 16px;
font-weight: 400;
margin: auto;
padding: 1rem;
max-width: 1400px;
}
p{
margin-bottom: 20px;
margin-top: 20px;
}
header{
    color: white;
    background-color: #201f1f;
}
section{
    background-color: #cbd9c2;
}
form{
    background-color: #b9dda1;;
    padding: 20px;
    width: 400px;
}
div{
    margin-bottom: 10px;
}
.nav ul{
    display: flex;
    gap: 1.5rem;
    list-style: none;
}
.nav a{
    color: white;
    text-decoration: none;
}
.nav a:hover{
    color: white;
}