* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --color-primario: black;
    --color-acento: green;
}

html {
    font-size: 62.5%;
    font-family: Arial;
    background-color: grey;
}

nav a {
    color: var(--color-acento);
    text-decoration: none;
}

nav a:hover {
    color: lightgreen;
}

.menu {
    font-size: 2rem;
    font-family: "Oxygen", sans-serif;
    font-weight: 300;
}

#programas {
    background-color: rgba(255,255,255,0.5);
}

#titulo-index {
    font-style: normal;
    font-size: 3rem;
    color: white;
    background-color: rgba(26,143,26,0.5);
    font-family: "Righteous";
}

#titulo-presentacion, #titulo-index-programas {
    font-size:2.5rem;
    color: blue;
    font-style: normal;
    font-family: "Hammersmith One";
}

.titulo-programas {
    font-size:2rem;
    color: var(--color-primario);
    font-style: italic;
    font-family: "Hammersmith One";
}

.parrafo-index-presentacion, .parrafo-index-programas {
    font-size: 1.6rem;
    color: var(--color-primario);
    font-style: normal;
    font-family: "Alegreya";
}
